@use '../../abstracts/variables';
@use '../../abstracts/reset';
@use '../../abstracts/mixins';
@use '../../components/aside';
@use '../../components/header';
@use '../../components/nav';
@use '../../components/footer';

body {
    display: grid;
    grid-template-columns: 13% 1fr;
    @include mixins.centralizar(65%);
    column-gap: 1.75rem;
    padding-block: 3.5rem;
    overflow: hidden;

    .menu-lateral {

        .botao-publicar {
            @include mixins.btn-bc-c-fs-bg-w(variables.$verde-destaque, variables.$verde-destaque, 1.375rem, transparent, 100%);
        }
    }

    .principal {
        height: 677px;
        padding: 2rem;
        background-color: variables.$cinza-escuro;
        border-radius: 8px;
        display: flex;
        gap: 1.5rem;

        .principal__secao {
            width: 50%;
            background-color: variables.$cinza-escuro;

            .container-imagem {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 1.5rem 1rem;
                border-radius: 8px;
                background-color: variables.$cinza-medio;

                .secao__imagem {
                    width: 100%;
                    border-radius: 8px;
                    background-color: variables.$cinza-medio;
                }
            }

            .botao-carregar {
                @include mixins.btn-bc-c-fs-bg-w(variables.$cinza-medio, variables.$cinza-medio, 1.125rem, transparent, 100%);
                font-weight: 600;
                margin-block: 1rem;

                svg {
                    @include mixins.svg-color(variables.$cinza-medio);
                } 
            }

            .secao__descricao {
                font-size: 0.938rem; //15px
                color: variables.$cinza-medio;
                background-color: transparent;
                cursor: pointer;
                width: auto;
                display: inline-block;

                img {
                    background-color: transparent;
                }
            }
        }

        .principal__formulario {
            @extend .principal__secao;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .formulario__titulo, .formulario-label__subtitulo {
                color: variables.$off-white;
            }

            .formulario__titulo {
                font-size: 1.625rem; //26px
                font-weight: 600;
                padding-bottom: 1rem;
            }

            .formulario-label__subtitulo {
                font-weight: 400;
                font-size: 1.125rem;
                padding-bottom: .25rem;
            }

            .formulario-label__input, .formulario-label__textarea {
                width: 100%;
                border: none;
                border-radius: 4px;
                background-color: variables.$cinza-medio;
                padding: .5rem 1rem;
                font-size: 0.938rem; //15px
                color: variables.$cinza-escuro;
            }

            .formulario-label__input::placeholder, .formulario-label__textarea::placeholder {
                font-family: variables.$fonte-principal;
                font-size: 0.938rem; //15px
                color: variables.$cinza-escuro;
            }

            .tags {
                display: flex;
                flex-wrap: wrap;
                margin-top: 1.375rem;
                gap: 1rem;
                overflow-y: auto;
                max-height: 90px;

                .tag {
                    @extend .formulario-label__input;
                    padding: .25rem .5rem;
                    width: auto;
                    cursor: pointer;

                    .tag__nome {
                        font-size: 1.125rem;
                        color: variables.$cinza-escuro;
                        display: flex;
                        align-items: center;
                        gap: .5rem;

                        svg {
                            @include mixins.svg-color(variables.$cinza-escuro);
                        }
                    }
                }

                .tag-clara {
                    background-color: variables.$cinza-claro;
                }
            }

            .container-botoes {
                display: flex;
                gap: 1.5rem;
                margin-top: 1.5rem;

                .botao-descartar {
                    @include mixins.btn-bc-c-fs-bg-w(variables.$verde-destaque, variables.$verde-destaque, 1.125rem, transparent, 50%);
                    font-weight: 600;
                }

                .botao-publicar {
                    @include mixins.btn-bc-c-fs-bg-w(none, variables.$verde-petroleo, 1.125rem, variables.$verde-destaque, 50%);
                    font-weight: 600;
                }
            }
        }
    }
}

@media screen and (max-width: 1440px) {
    body {
        @include mixins.centralizar(80%);
        overflow: auto;
    }
}

@media screen and (max-width: 1024px) {
    body {
        display: block;
        width: 100%;
        padding: 3.5rem 0 0 0;

        .cabecalho {
            display: flex;
            @include mixins.centralizar(85%);
            
        }
    
        .navegacao {
            display: grid;
            @include mixins.centralizar(85%);
        }
    
        .menu-lateral {
            display: none;
        }
    
        .principal {
            height: auto;
            padding: 0;
            flex-direction: column;
            background-color: transparent;
            @include mixins.centralizar(85%);

            .principal__secao {
                width: 100%;
                background-color: transparent;
            }

            .principal__formulario {

                .formulario__titulo {
                    padding-bottom: 2rem;
                }
            }
        }

        .rodape {
            display: block;
        }
    }
}

@media screen and (max-width: 768px) {
    body {

        .cabecalho {
            @include mixins.centralizar(90%);
        }

        .navegacao {
            display: block;
            @include mixins.centralizar(90%);
        }

        .principal {
            @include mixins.centralizar(90%);
        }
    }
}