@use '../abstract/variables';
@use '../abstract/mixins';

.menu-lateral {
    height: 868px;
    border-radius: 8px;
    background-color: variables.$cinza-escuro;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 2.5rem 1rem;

    .menu-lateral__logo {
        padding-bottom: 1rem;
        display: flex;
        align-items: center;
    }

    .menu-lateral__lista {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: variables.$cinza-escuro;
        gap: 3rem;

        .lista__item {
            @extend .menu-lateral__lista;
            gap: 0;
            

            a {
                background-color: variables.$cinza-escuro;
                text-align: center;
                color: variables.$cinza-medio;
                
                img, p {
                    background-color: variables.$cinza-escuro;
                }
            }
        }
    }
}