body {
  overflow: auto;
  padding: 3.5rem 0 0 0;
}
body .menu-lateral {
  height: auto;
}
body .principal {
  padding: 0;
  background-color: transparent;
  flex-direction: column;
  height: auto;
  gap: 3.5rem;
}
body .principal .principal__imagem {
  width: 100%;
  height: 397px;
}
body .principal .container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
body .principal .container .principal__titulo {
  color: #81FE88;
  font-weight: 500;
  font-size: 2.75rem;
  text-align: center;
}
body .principal .container .principal__subtitulo {
  color: #BCBCBC;
  text-align: center;
  font-weight: 500;
  font-size: 2.25rem;
}
body .principal .principal__descricao, body .principal .principal__container .container__descricao {
  color: #E1E1E1;
  font-size: 1.5rem;
}
body .principal .principal__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "subtitulo imagem" "texto     imagem";
  -moz-column-gap: 3.5rem;
       column-gap: 3.5rem;
  row-gap: 1.5rem;
}
body .principal .principal__container .container__subtitulo {
  grid-area: subtitulo;
  color: #BCBCBC;
  font-size: 2rem;
  font-weight: 600;
}
body .principal .principal__container .container__descricao {
  grid-area: texto;
}
body .principal .principal__container .container__imagem {
  grid-area: imagem;
  justify-self: self-end;
  align-self: center;
  height: 100%;
  width: 100%;
}
body .principal .principal__intertitulo {
  color: #BCBCBC;
  font-size: 2rem;
  font-weight: 600;
}
body .principal .container-final {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 5rem;
}
body .principal .container-final .final__descricao {
  font-size: 2rem;
  color: #888888;
}

@media screen and (max-width: 1024px) {
  body .cabecalho {
    margin-bottom: 4rem;
  }
  body .principal .principal__container {
    -moz-column-gap: 1.5rem;
         column-gap: 1.5rem;
  }
  body .principal .container-final {
    margin: 0;
  }
}
@media screen and (max-width: 768px) {
  body .cabecalho {
    margin-bottom: 3rem;
  }
  body .principal .container .principal__titulo {
    font-size: 2.25rem;
  }
  body .principal .container .principal__subtitulo {
    font-size: 2rem;
  }
  body .principal .principal__descricao, body .principal .principal__container .container__descricao {
    font-size: 1.125rem;
  }
  body .principal .principal__container {
    display: flex;
    flex-direction: column;
  }
  body .principal .principal__container .container__subtitulo {
    font-size: 1.375rem;
  }
  body .principal .principal__container .container__descricao {
    font-size: 1.125rem;
  }
  body .principal .principal__intertitulo {
    font-size: 1.375rem;
  }
  body .principal .principal__descricao, body .principal .principal__container .container__descricao {
    font-size: 1.125rem;
  }
  body .principal .container-final {
    flex-direction: column;
    gap: 1rem;
  }
  body .principal .container-final .final__descricao {
    font-size: 1.375rem;
  }
  body .rodape {
    margin-top: 5.25rem;
  }
}/*# sourceMappingURL=sobre-nos.css.map */